OPENAI_API_KEY=
GOOGLE_API_KEY=

LANGSMITH_TRACING=True
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt_2c
LANGSMITH_PROJECT=SaaSLabs_Hackathon
TAVILY_API_KEY=
FIRECRAWL_API_KEY=

SERVER_PORT=8104
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=SaaSLab
DB_HOST=localhost
DB_PORT=5432